{#You can override this file's block. More options see "https://nhn.github.io/tui.editor/api/latest/ToastUIEditor.html"#}

{% block tuieditor_widget %}

    <textarea {% if enable %} style="display: none"{% endif %} {{ block('widget_attributes') }}>{{ value }}</textarea>

    {% if enable %}
        <div id="editor_{{ id }}"></div>
        {{ block('_tuieditor_javascript') }}

    {% endif %}

{% endblock %}

{% block _tuieditor_javascript %}

    {{ tuieditor_editor_widget('editor_'~id, config, value) }}
    {{ block('_tuieditor_events_hooks') }}

{% endblock %}

{% block _tuieditor_events_hooks %}

    <script>
        editor_{{ id }}.on("change",function(){
            document.querySelector('textarea#{{ id }}').innerHTML = {% if config.to_html is defined and config.to_html == true %}editor.getHtml(){% else %}editor.getMarkdown(){% endif %};
        });
    </script>

{% endblock %}